/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #3d3d3d;
  text-decoration: none;
}

a:hover {
  color: #3d3d3d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif;
}
h1 {
  color: #3d3d3d;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
}
h3 {
  font-weight: 700;
  font-size: 26px;
  color: #3d3d3d;
 }
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #fecd4b;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3d3d3d;
  color: #3d3d3d;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #010101;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 200px;
  height: 200px;
  border: 5px solid #fecd4b;
  border-radius: 50%;
  background: #fecd4b;
  box-shadow: 9px 9px 25px hsla(0, 0%, 35%, 0.219), -9px -9px 25px #4949494f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 10px 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #eee7ce;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 20px;
  display: inline-block;
  background: #eee7ce;
  color: black;
  line-height: 1;
  padding: 7px;
  margin-right: 15px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: rgb(63, 63, 63);
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

.container,
.container-fluid {
  padding-left: 100px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  #header {
    left: -350px;
  }

  #main {
    margin-left: 0;
  }

  .container,
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 35px 0 0 20px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 5px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #fff;
}
.nav-menu a .fa-solid {
  font-size: 20px;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
  color: #fecd4b;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #fecd4b;
  color: #000000;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  height: 100vh;
  background-color: #efeee5;
  background: url( https://images.unsplash.com/photo-1716436329475-4c55d05383bb?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero:before {
  content: "";
  background: #022c264d;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 400px;
  line-height: 2;
  padding-left: 150px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #fecd4b;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  #hero .hero-container {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 46px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #hero .hero-container {
    padding-left: 0;
  }
}
@media (max-width: 600px) {
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 515px) {
  #hero h1 {
    font-size: 32px;
    line-height: 16px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 30px;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 30px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}
.section-title {
  padding: 30px 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .acontent h3 {
  font-weight: 700;
  font-size: 26px;
  color: #3d3d3d;
  text-align: left;
}
.section-title p {
  font-family: Poppins;
  font-size: 16px;
  margin-top: 20px;
}
.about .acontent ul {
  list-style: none;
  padding: 0;
}

.about .acontent ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .acontent ul strong {
  margin-right: 10px;
}

.about .acontent ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #3d3d3d;
  line-height: 0;
}

.about .acontent p:last-child {
  margin-bottom: 0;
}
.about-content {
  margin-top: 15px;
}
.about-content ul li span:hover {
  transform: translateX(10px);
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  color: #3d3d3d;
}
.about-content ul li a:hover {
  transform: translateX(10px);
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  color: #3d3d3d;
  text-decoration: underline;
}

/*--------------------------------------------------------------
# Eucation
--------------------------------------------------------------*/
.education-section {
  padding-bottom: 70px;
}
.education-section .row {
  row-gap: 40px;
}

.text-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 40px;
  background-color: white;
  line-height: 2;
}
.text-box h5 {
  font-family: poppins;
  padding-bottom: 10px;
}
.text-box span {
  float: right;
}
/*--------------------------------------------------------------
# Skills
--.------------------------------------------------------------*/
.skill-title {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-title span{
  font-family: poppins;
}
.swiper {
  width: 100%;
  padding: 50px;
}
.swiper-wrapper {
  padding: 30px 0;
}
.swiper-slide {
  width: 100%;
  height: 200px !important;
  font-size: 18px;
  background: #25262d;
  color: white;
  display: flex;
  align-content: center;
  border-radius: 15px;
  border: 2px solid #1d1e23;
  padding: 50px ;
}
.swiper-slide p {
  text-align: center;
  letter-spacing: 1px;
}






.box-content {
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.box-content:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: -15px;
  transition: all 0.4s ease-in-out;
}
.box-content span {
  font-size: 24px;
  color: #064439;
  font-family: poppins;
  padding: 25px 30px;
}
.skill h1 {
  font-family: poppins;
  font-size: 28px;
  color: #064439;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

  @media screen and (max-width: 991px) {
    
    .box-content {
      margin: 40px;

    }
}
@media screen and (max-width: 767px) {
  .box-content:hover {
    margin-top: 0;
   }
  .box-content {
    margin-bottom: 30px;
     width: 80%;
  }

}
 
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
  position: relative;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .row {
  row-gap: 20px;
}
.portfolio-sec {
  position: relative;
 }

 .project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.493),
    rgba(0, 0, 0, 0.568)
  );
  z-index: 2;
  transition: 0.4s all;
  opacity: 0;
}
.project:hover::before {
  transition: 0.4s all;
  opacity: 1;
}  
.project-info {
  position: relative;

 }
 
.content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  color: white;
  background-color: #000000d2;
  z-index: 3;
display: flex;
 justify-content: space-between;
align-items: center;
opacity: 0;
transition: all 0.4s ease-in-out;
}
.portfolio-sec:hover .content {
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
 
.content-title p {
  color: #fecd4b;
  font-weight: bold;
  font-family: poppins;
  font-size: 18px;
margin: 0;
}
.content-title span{
  color: #ffff;
  font-family: poppins;
  font-size: 14px;
  padding-left: 10px;

}
.content-btn button{
  padding: 7px 15px;
  background-color: #fecd4b;
  font-weight: bold;
  border: none;
  outline: none;
  font-family: poppins;
  color: #000000;
}
.content-btn button:hover{
 background-color: transparent;
color: #fecd4b;
font-weight: bold;
border: 2px solid #fecd4b;
transition: all 0.4s ease-in-out;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-family: poppins;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 30px;
  font-family: poppins;

  color: #3d3d3d;
  float: left;
  width: 44px;
  height: 44px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.1s ease;
}
.contact .info i:hover {
  color: white;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #3d3d3d;
  font-family: poppins;

}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
  font-family: poppins;

}

.contact .info .email p {
  padding-top: 5px;
  font-family: poppins;

}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  font-family: poppins;

  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #3d3d3d;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #3d3d3d;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: #3d3d3d;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #fecd4b;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #fecd4b;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #3d3d3d;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #fecd4b;
  border: 0;
  font-weight: bold;
  padding: 10px 24px;
  color: #3d3d3d;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #fff;
  color: #3d3d3d;
  border: 2px solid #3d3d3d;
}

 
